RewriteEngine on
RewriteCond $1 !^(index\.php|robots\.txt|favicon\.ico|bootstrap|js|css|images|tasks\.php)

# production (1and1)
#RewriteRule ^(.*)$ /index.php/$1 [L]

# development (atom)
RewriteRule ^(.*)$ index.php/$1 [L]

FileETag none

